#SubFunction
  .BackToBlog
    .back 回
    .BackToWord=link_to "天真無邪賴小美的網誌","#"
  .functions
    %ul
      %li=link_to "新增相簿","#"
      %li.line
        |
      %li=link_to "上傳照片","#"
      %li.line
        |
      %li=link_to "相簿排序","#"
      %li.line
        |
      %li=link_to "相簿管理","#"