%table.table.add.table-bordered
  %tr
    %th 分類名稱
    %th 全站分類
    %th.submit{:rowspan => "2"} 
      %input{:type => "submit", :class => "btn", :value => "確定"}
      %input{:type => "reset", :class => "btn btn-cancel", :value => "取消"}
  %tr
    %td
      %input{:type => "text"}
    %td
      %select
        %option 請選擇分類