.pagination
  %ul
    %li=link_to "第一頁","#"
    %li=link_to "上一頁","#"
    %li.active=link_to "1","#"
    %li=link_to "2","#"
    %li=link_to "3","#"
    %li=link_to "4","#"
    %li=link_to "5","#"
    %li=link_to "下一頁","#"
    %li=link_to "最後一頁","#"                          