li.subTitle{
  float:left;
  margin-right:20px;
}
.aboutMe, .basicSetup, .advancedSetup{
  @include clearfix;
  .section{
    padding:10px;
    .word{
      margin-right:10px;
      float:left;
      line-height:28px;
    }
  }
}

.saving{
  padding:10px;
}

.myData{
  .myPics, .myInfo{
    float:left;
  }
  .myPics{
    padding-left:10px;
  }
  .mybtn li{
    padding:5px 10px;
  }
}

.myPics{
  text-align:center;
  .headImg{
    border:1px solid #dcdcdc;
    margin-top:10px;
    .changeImg{
      border-top:1px solid #dcdcdc;
      padding:10px 0;
    }
    .myImg{
      padding:5px;
      vertical-align:middle;
    }
  }
  .myStat{
    padding:10px 0 20px 0;
    color:#a6a543;
  }
}
