.category {
  .toolbar {
    ul {
      float:right;
      margin-bottom:10px;
    }
  }
  table.add {
    th {
      text-align:center;
      background:#dbb3b3;
      color:#fff;
    }
    td,th.submit {
      background:#f8f3f3;
      vertical-align:middle;
    }
  }
}

.comment {
  .toolbar {
    ul {
      float:right;
    }
  }
  table {
    .name, .heading {
      color:#9a9929
    }
    td.text {
      text-align:left;
      .heading {
        font-size:15px;
        line-height:1.5em;
      }
      .text {
        padding:10px 0;
        color:#888;
      }
      textarea {
        width:99%;
      }
      .function {
        @include clearfix;
        margin-top:5px;
        padding-top:10px;
        border-top:1px dotted #ccc;
        ul {
          @include clearfix;
          float:right;
          li {
            float:left;
            margin-left:10px;
          }
          li.checkbox {
            padding-top:5px;
          }
        }
      }
    }
  }
}

.comment.setup {
  form .section {
    border:1px solid #ccc;
    padding:20px;
    margin:10px 0;
    > ul {
      margin-bottom:15px;
      ul {
        margin:10px 0 15px;
      }
    }
  }
}

.preview a {
  @include inline-block;
  width:22px;
  height:15px;
  text-indent:-9999px;
  background:url(/images/preview.png) center top no-repeat;
}