---
  layout: user
---
=partial "/_partials/user_banner"

.user_index
  #main
    .inner
      .entries
        -5.times do
          .entry
            %h2
              =link_to "部落格文章標題標題標題標題", "#", :title => "部落格文章標題標題標題標題"
              %span 熱門文章
            %p.date
              2012.01.01
            =image_tag( lorem.image("300x400"), :alt => "" )
            %p.text
              部落格文章內容摘要部落格文章內容摘要，部落格文章內容摘要，部落格文章內容摘要，部落格文章內容摘要部落格文章內容摘要部落格文章內容摘要，部落格文章內容摘要部落格文章內容摘要，部落格文章內容摘要
            %p.more=link_to "繼續閱讀", "#", :title => "繼續閱讀"
            %ul.count
              %li.comment=link_to "回應(100)", "#", "回應"
              %li=link_to "引用(100)", "#", "引用"
  
  = partial "/_partials/user_sidebar"
  