#main-singleAalbum
  =partial "/_partials/album_funcs"
  .albumTitle ~北海道6天7夜吃不停之旅~
  .albumInfo  
    .albumIntro 札幌拉麵歐伊西-北海道吃不停玩不停&手滑敗不停雪拼行
    .picNums 共100張 照片
  .pictures
    -5.times do
      %ul
        -4.times do
          %li.pics
            .picsHead=link_to image_tag(lorem.image("140"), :alt=>""),"#", :title=>"DCM001"
            %a{:href=>"#"}
              .picName DCM001 
  .pagination
    %ul
      %li=link_to "第一頁","#"
      %li=link_to "上一頁","#"
      %li.active=link_to "1","#"
      %li=link_to "2","#"
      %li=link_to "3","#"
      %li=link_to "4","#"
      %li=link_to "5","#"
      %li=link_to "下一頁","#"
      %li=link_to "最後一頁","#"
=partial "/_partials/user_sidebar"
