#section_main
  #main
    .mainContent{:class =>"tabbable"}
      %ul{:class =>"nav nav-tabs"}
        %li.active=link_to "今日熱門","#hot", :title=>"今日熱門", "data-toggle" => "tab"
        %li=link_to "最新文章","#article", :title=>"最新文章", "data-toggle" => "tab"
        %li=link_to "近期熱門","#recent", :title=>"近期熱門", "data-toggle" => "tab"
      .maincontent{:class => "tab-content"}
        #hot.active{:class => "tab-pane"}
          %ul
            -10.times do
              %li.content
                .rankImg{:class=>"icons-graybg"} 01
                .head=link_to image_tag(lorem.image("90"), :alt=>"", :class=> "headImg"), "#"
                .post
                  .postTitle=link_to "保養 | 素顏也有好氣色","#", :title=>""
                  .postInfo=link_to "臉部保養|TOP100|FG小編","#", :title=>""
                  .postContent 這篇很心機!!!!只擦保養品看起來就有上妝的修飾效果…
                .lookmore=link_to "詳全文","#", :title=>"看更多", :class=>"icons-lookmore"
          = partial "_partials/pagination"
        #article{:class => "tab-pane"}
          %ul
            -10.times do
              %li{:class=>"content"}
                .rankImg{:class=>"icons-graybg"} 01
                .head=link_to image_tag(lorem.image("90"), :alt=>"", :class => "headImg"), "#"
                .post
                  .postTitle=link_to "臉部 | 素顏也有好氣色","#", :title=>""
                  .postInfo=link_to "臉部保養|TOP100|FG小編","#", :title=>""
                  .postContent 這篇很心機!!!!只擦保養品看起來就有上妝的修飾效果…
                .lookmore=link_to "詳全文","#", :title=>"看更多", :class=>"icons-lookmore"
          = partial "_partials/pagination"
        #recent{:class => "tab-pane"}
          %ul
            -10.times do
              %li{:class=>"content"}
                .rankImg{:class=>"icons-graybg"} 01
                .head=link_to image_tag(lorem.image("90"), :alt=>"", :class=> "headImg"), "#"
                .post
                  .postTitle=link_to "臉部 | 素顏也有好氣色","#", :title=>""
                  .postInfo=link_to "臉部保養|TOP100|FG小編","#", :title=>""
                  .postContent 這篇很心機!!!!只擦保養品看起來就有上妝的修飾效果…
                .lookmore=link_to "詳全文","#", :title=>"看更多", :class=>"icons-lookmore"
          = partial "_partials/pagination"
    .mainSubcontent
      %ul
        -2.times do
          %li
            .head=link_to image_tag(lorem.image("120x90"), :alt=>"", :class=> "headImg"), "#"
            .subpost
              .postSubTitle=link_to "主標題題", "#", :title=>"主標題", :class=>"icons-title_flag"
              .postContent=link_to "惠妮驟逝瑪麗亞凱莉...", "#", :title=>"主標題"
              .postContent=link_to "張善為祭祖遭沖天炮...", "#", :title=>"主標題"
              .lookmore=link_to "看更多", "#", :title=>"看更多", :class=>"icons-lookmore"
  .sidebar
    .block.rank{:class => "tabbable"}
      .clear.nav.nav-tabs
        .ranking 本週人氣排行
        %ul{:class=>"nav nav-tabs"}
          %li.active.top=link_to "TOP 100","#top", "data-toggle" => "tab"
          %li.bloger=link_to "部落客","#bloger", "data-toggle" => "tab"
      .tab-content.SidebarC
        #top.active{:class => "tab-pane"}
          %ul
            -5.times do
              %li{:class=>"sidebar_content"}
                .numImg{:class=>"icons-crownbg"} 01
                .head=link_to image_tag(lorem.image("70"), :alt=>"", :class=> "headImg"), "#"
                .post
                  .postTitle=link_to "保養 | 素顏也有好氣色素顏也有好氣色素顏也有好氣色","#", :title=>""
                  .postInfo=link_to "FG小編","#", :title=>""
                  .postContent 累積人氣指數：9999
                .lookmore=link_to "看更多","#", :title=>"看更多", :class=>"icons-lookmore"
          .stat
            %ul
              %li.statTime 統計時間 101/01/01~101/01/01
              %li.lookmore=link_to "看更多", "#", :title=>"看更多", :class=>"icons-lookmore"
        #bloger{:class => "tab-pane"}
          %ul
            -5.times do
              %li{:class=>"sidebar_content"}
                .numImg{:class=>"icons-crownbg"} 01
                .head=link_to image_tag(lorem.image("90"), :alt=>"", :class=> "headImg"), "#"
                .post
                  .postTitle=link_to "保養 | 素顏也有好氣色","#", :title=>""
                  .postInfo=link_to "臉部保養|TOP100|FG小編","#", :title=>""
                  .postContent 這篇很心機!!!!只擦保養品看起來就有上妝的修飾效果…
                .lookmore=link_to "看更多","#", :title=>"看更多", :class=>"icons-lookmore"
          .stat
            %ul
              %li.statTime 統計時間 101/01/01~101/01/01
              %li.lookmore=link_to "看更多", "#", :title=>"看更多", :class=>"icons-lookmore"    
    .block.news
      %ul
        %li.lastnews 最新訊息
        %li.newsContent
          %ul
            -2.times do
              %li
                .newshead=link_to image_tag(lorem.image("165x150"),:alt=>"", :class=> "newsImg"),"#",:title=>""
                -5.times do
                  .postAd=link_to "免費試用超夯美妝新品","#",:title=>""