#closed
  .frameClosed.albumBg
    .closedTitle 賴小美賴小美賴小美 的相簿關閉中
    .closedContents
      .gotoUser
        %ul
          %li 前往賴小美賴小美賴小美 的:
          %li=link_to "部落格","#"
          %Li=link_to "關於我","#"
      .gobackBtns
        %ul
          %li.btn=link_to "回上一頁","#"
          %li.btn=link_to "回部落格首頁","#"
      .options
        %ul
          %Li=link_to "登入部落格","#"
          %li
            %span 
              |
          %li=link_to "免費申請部落格","#"
  .buttomLogo
