#section_top
  #promo
    .main_ad
      .inner
        .img
          =image_tag( lorem.image("400x300"), :alt => "" )
          .gray
          %h2=link_to "不敗的選擇！紅色系穿搭特輯～～", "#", :title => "不敗的選擇！紅色系穿搭特輯～～"
        .words
          %h2=link_to "不敗的選擇！紅色系穿搭特輯～～", "#", :title => "不敗的選擇！紅色系穿搭特輯～～"
          %p 
            話說保養妝是霧面粉嫩的效果，因為我是超乾肌，喜歡擦完保養品後臉超油亮滋潤的fu，不太習慣擦完保養品後臉上還是乾爽的感覺，所以我個人是不會每天都用這個保養妝。
            %br
            話說保養妝是霧面粉嫩的效果，因為我是超乾肌，喜歡擦完保養品後臉超油亮滋潤的fu。
    .ad
      =link_to image_tag( lorem.image("620x90"), :alt => "" ), "#"
  .sidebar
    .block.admin
    .block.hot
#section_text_ad
  %ul
    %li=link_to "廣告標題，總共十一個字", "#", :title => "廣告標題，總共十一個字"
    %li=link_to "廣告標題，總共十一個字", "#", :title => "廣告標題，總共十一個字"
    %li=link_to "廣告標題，總共十一個字", "#", :title => "廣告標題，總共十一個字"
    %li=link_to "廣告標題，總共十一個字", "#", :title => "廣告標題，總共十一個字" 
#section_main
  #main
    .hot
      %ul.tabmenu
        %li=link_to "今日熱門", "#", :title => "今日熱門"
        %li=link_to "最新文章", "#", :title => "最新文章"
        %li=link_to "近期熱門", "#", :title => "近期熱門"
      .content
        .entry
  .sidebar
    .block.rank
    .block.news
#section_ad
  .ad
  .ad_s
    .entry
